trigger:
- master

pr:
  autoCancel: true
  branches:
    include:
    - master

jobs:
- job: Xcode
  displayName: 'Xcode build and tests'
  pool:
    vmImage: macOS-10.14
    demands: xcode
  steps:
  - script: sudo xcode-select -s /Applications/Xcode_11.app
    displayName: 'Select Xcode 11'
  - script: ./scripts/bluepill.sh test
    displayName: 'Run BluePill tests'
  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: 'build/reports/*.xml' 
      mergeTestResults: false
      failTaskOnFailedTests: false
  - script: ./scripts/bluepill.sh build
    displayName: 'Build BluePill'
  - task: CopyFiles@2
    inputs:
      contents: 'build/*.zip'
      targetFolder: '$(Build.artifactStagingDirectory)'
  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: '$(Build.ArtifactStagingDirectory)'

- job: Bazel
  displayName: 'Bazel build'
  pool:
    vmImage: macOS-10.14
    demands: xcode
  steps:
  - script: 'brew install bazel'
    displayName: 'Install Bazel'
  - script: 'bazel build --host_force_python=PY2 //bluepill:bluepill'
    displayName: 'Bazel build'
