CURRENT_PROJECT_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_COMPATIBILITY_VERSION = 1
PRODUCT_NAME = BPTestInspector
EXECUTABLE_PREFIX = lib
SDKROOT = iphonesimulator
IPHONEOS_DEPLOYMENT_TARGET = 16.0
COPY_PHASE_STRIP = NO
CODE_SIGN_IDENTITY = -  // LTHROCKM - may need code signing for hosted tests
