name: release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  # First machine, runs BP tests batch 1
  integration_tests1:
    name: Instance Test 1
    runs-on: macos-11
    steps:
      # actions/checkout@v2 but we use the SHA1 because tags can be re-written in git
      - uses: actions/checkout@722adc63f1aa60a57ec37892e133b1d319cae598
      - name: Select Xcode 13.0
        run: sudo xcode-select -s /Applications/Xcode_13.0.app
      - name: Run Bluepill tests
        run: ./scripts/bluepill.sh instance_tests1
      - name: Capture xcresult files
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: xcresults-bp-tests1
          path: build/**/*.xcresult
          retention-days: 14

  # Second machine, runs BP tests batch 2
  integration_tests2:
    name: Instance Test 2
    runs-on: macos-11
    steps:
      # actions/checkout@v2 but we use the SHA1 because tags can be re-written in git
      - uses: actions/checkout@722adc63f1aa60a57ec37892e133b1d319cae598
      - name: Select Xcode 13.0
        run: sudo xcode-select -s /Applications/Xcode_13.0.app
      - name: Run Bluepill tests
        run: ./scripts/bluepill.sh instance_tests2
      - name: Capture xcresult files
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: xcresults-bp-tests2
          path: build/**/*.xcresult
          retention-days: 14

  # Third machine, runs Bluepill tests and makes release build
  build:
    name: BP Test and build
    runs-on: macos-11
    steps:
    # actions/checkout@v2 but we use the sha because tags can be rewritten in git
    - uses: actions/checkout@722adc63f1aa60a57ec37892e133b1d319cae598
    - name: Report event trigger data
      run: |
        echo "Event ${{ github.event_name }}, ref: ${{ github.ref }}"
    - name: Select Xcode 13.0
      run: sudo xcode-select -s /Applications/Xcode_13.0.app
    - name: Run Bluepill tests
      run: ./scripts/bluepill.sh runner_tests
    - name: Capture xcresult files
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: xcresults-bluepill-tests
        path: build/**/*.xcresult
        retention-days: 14
    - name: Build Bluepill
      run: ./scripts/bluepill.sh build
    - name: Release
      # softprops/action-gh-release@v1 but we use the sha because tags can be rewritten in git
      uses: softprops/action-gh-release@78c309ef59fdb9557cd6574f2e0be552936ed728
      with:
        files: 'build/*.zip'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Publish to Cocoapods
      run: pod trunk push Bluepill.podspec
      env:
        COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
