name: release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  # First machine, runs Bluepill tests
  integration_tests:
    name: Bluepill Test
    runs-on: macos-latest
    steps:
    # actions/checkout@v2 but we use the sha because tags can be rewritten in git
    - uses: actions/checkout@722adc63f1aa60a57ec37892e133b1d319cae598
    - name: Select Xcode 12
      run: sudo xcode-select -s /Applications/Xcode_12.app
    - name: Run Bluepill tests
      run: ./scripts/bluepill.sh instance_tests

  # Second machine, runs BP tests and makes build
  build:
    name: BP Test and build
    runs-on: macos-latest
    steps:
    # actions/checkout@v2 but we use the sha because tags can be rewritten in git
    - uses: actions/checkout@722adc63f1aa60a57ec37892e133b1d319cae598
    - name: Report event trigger data
      run: |
        echo "Event ${{ github.event_name }}, ref: ${{ github.ref }}"
    - name: Select Xcode 12
      run: sudo xcode-select -s /Applications/Xcode_12.app
    - name: Run Bluepill tests
      run: ./scripts/bluepill.sh runner_tests
    - name: Build Bluepill
      run: ./scripts/bluepill.sh build
    - name: Release
      # softprops/action-gh-release@v1 but we use the sha because tags can be rewritten in git
      uses: softprops/action-gh-release@78c309ef59fdb9557cd6574f2e0be552936ed728
      with:
        files: 'build/*.zip'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Publish to Cocoapods
      run: pod trunk push Bluepill.podspec
      env:
        COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
